p.mailsignature
  span(style='font-family: arial, helvetica, sans-serif; font-size: 10pt;') 
    | Met vriendelijke groet,
    br
    br
    span(style='font-family: arial, helvetica, sans-serif; font-size: 10pt;')  
    | [NaamBehandelaar]
    br
    span(style='font-family: arial, helvetica, sans-serif; font-size: 10pt;')  
    | [FunctieBehandelaar]
    br
    br
    span(style='font-size: 8pt; font-family: arial, helvetica, sans-serif;') 
    | T [TelefoonBehandelaar]
    br
    br
    span(style='font-size: 8pt; font-family: arial, helvetica, sans-serif;')  
    | E [EmailBehandelaar]
    br
    

//
   Start of footer 
table.footer.devicewidth(border='0', cellpadding='0', cellspacing='0')
  tr
    td
      table.row.inner(border='0', cellpadding='0', cellspacing='0')
        tr
          td(valign="top")
            table.info(border='0', cellpadding='0', cellspacing='0')
              tr
                td.topbar(colspan="6")
                  a(href='http://www.werkenbijhanos.nl')
                    img(src='https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/outlooklogo.png', alt='HANOS', border='0', width='140', height='36')
              tr
                td
                  table(border='0', cellpadding='0', cellspacing='0', height="90")    
                    tr
                      td(valign="top")
                        table.middlebar.purple(border='0', cellpadding='0', cellspacing='0')
                          tr
                            td(style="line-height:10px; font-size:1px;", height="10")
                              | &nbsp;

                          tr
                            td(align="center")
                              span.location
                                |[NaamWerkgever] |
                              span.address
                                |  [AccountAdres] |
                              span.zipcode
                                |  [PostcodeAccout] [WoonplaatsAccount] |
                              span.phone
                                |  T: [TelefoonAccount] |
                              a(href="#", style="color:#A39B9B!important;")
                                span.email(style="color:#A39B9B!important;")
                                  |  E: info@hanos.nl
                          tr
                            td(style="line-height:22px; font-size:1px;", height="22")
                              | &nbsp;
                    tr
                      td(valign="top")
                        table.socialbar(border='0', cellpadding='0', cellspacing='0', valign="top")
                          tr
                            td(rowspan="2", valign="top", width='45')
                              a(href='https://twitter.com/WERKENBIJHANOS')
                                img(src='https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/Twitter_img.png', alt='Twitter', border='0', width='45', height='34')
                            td.purple(valign="top", height='13' )
                              | &nbsp;
                            td.purple(valign="top", width='600', height='13', align="center")
                              span.link(align="center")
                                a(href='http://www.werkenbijhanos.nl', height='13', style="font-weight:bold; color:#A39B9B!important; font-size:12px;")
                                  | www.werkenbijhanos.nl
                            td.purple(valign="top", height='13')
                              | &nbsp;
                            td(rowspan="2", valign="top", align="right", width='42')
                              a(href='https://www.facebook.com/hanosgroothandel')
                                img(src='https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/Facebook_img.png', alt='Facebook', border='0', width='42', height='34')   
                              
                          tr
                            td.white(colspan="3")
                              table(width="100%", border='0', cellpadding='0', cellspacing='0')
                                td
                                  span.sociallink
                                    a(href='https://twitter.com/WERKENBIJHANOS' style="color:#A39B9B!important;")
                                      | twitter.com/werkenbijhanos 
                                td(align="right")
                                  span.sociallink
                                    a(href='https://www.facebook.com/hanosgroothandel' style="color:#A39B9B!important;")
                                      | facebook.com/hanosgroothandel 
                td(valign="top")
                  table(border='0', cellpadding='0', cellspacing='0', height="90") 
                    tr
                      td(valign="top", height='66')
                       img(src='https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/endpurple.png', alt='Facebook', border='0', width='6', height='66') 
                    tr
                      td(valign="top")
                       | &nbsp;
              tr
                td(valign="top")
                  table.disclaimerbar(border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style="line-height:10px; font-size:1px;", height="5")
                        | &nbsp;
                    tr
                      td
                        p
                          | De informatie in dit e-mailbericht is uitsluitend bestemd voor de geadresseerde. Verstrekking aan en gebruik door derden is niet toegestaan.
                          | Als het bericht niet voor u bestemd is, wordt u vriendelijk verzocht dit aan de afzender te melden en het bericht te wissen.
                    tr
                      td(style="line-height:10px; font-size:1px;", height="5")
                        | &nbsp;
                    tr
                      td
                        p
                          | This e-mail is intended exclusively for the addressee(s), and may not be passed on to, or made available for use by any person other than the 
                          | addressee(s). If you are not the intended recipient or have received this e-mail in error, please notify the sender immediately and destroy 
                          |  this e-mail.
              tr
                td(valign="top")
                  |&nbsp;
          td(valign="top")
            table.globe(border='0', cellpadding='0', cellspacing='0')
              tr
                td
                  a(href='http://www.werkenbijhanos.nl')
                    img(src='https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/Beeldmerk-wb(1).png', alt='Er gaat een wereld voor u open', border='0', width='221', height='244')

         
//
   End of footer 