table.devicewidth(cellspacing='0', cellpadding='0', border='0', bgcolor='#ffffff', align='center', width='600')
  tbody
    tr
      td(width='100%')
        table.devicewidth(cellspacing='0', cellpadding='0', border='0', align='center', width='600')
          tbody
            tr
              td
                table.devicewidth(cellspacing='0', cellpadding='0', border='0', align='left', width='250')
                  tbody
                    tr
                      td.colstoreleftinner(width='229', style='padding:10px;')
                        table.colstoreaddress(cellspacing='0', cellpadding='0', border='0', width='100%')
                          tbody
                            tr
                              td(align='left')
                                p.title(style='font:17px/1.4 "Lato", Helvetica, Arial, sans-serif; font-weight:bold; text-align:left;') HANOS Apeldoorn
                            tr
                              td(align='left', style='padding:10px 0;')
                                p(style='font:14px/1.4 "Lato", Helvetica, Arial, sans-serif;')
                                  | Stadhoudersmolenweg 43
                                  br
                                  | 7317 AW Apeldoorn
                                  br
                                  | Tel: +31 55 5294444
                        table.colstorebutton(cellspacing='0', cellpadding='0', border='0', width='100%')
                          tbody
                            // Button
                            tr
                              td(width='100%')
                                table.storebutton(cellspacing='0', cellpadding='0', border='0', align='left', height='34', valign='center')
                                  tbody
                                    tr
                                      td(align='center', width='auto', valign='middle', height='34', style='background-color:#59aeff; border-top-left-radius:4px; border-bottom-left-radius:4px;border-top-right-radius:4px; border-bottom-right-radius:4px; background-clip:padding-box; font-size:13px; line-height:1.4; font-family:"Roboto" Helvetica, arial, sans-serif; text-align:center; color:#ffffff; padding:0 20px;')
                                        span(style='color:#fff;')
                                          a.font2(href='http://www.hanos.nl/Groothandels/Groothandel/HANOS-Apeldoorn-1.htm', style='color:#fff; text-align:center;text-decoration:none; font-family:"Roboto" Helvetica, arial, sans-serif;')
                                            | Route & openingstijden
                                            img(width='8', height='7', alt='', style='display:inline-block; padding: 0 0 0 10px; border:0', src='http://td42.tripolis.com/public/image_6g6Z_pvXTN6JB8YWYD8Qsw.png')
                table.devicewidth.tablethide(cellspacing='0', cellpadding='0', border='0', align='right', width='330')
                  tbody
                    tr
                      td.colstorerightinner(width='309', style='padding:15px 10px 10px;')
                        table(cellspacing='0', cellpadding='0', border='0', width='100%')
                          tbody
                            tr
                              td(align='center', valign='middle', style='border:1px solid #dddddd; display:block; padding:3px;')
                                img.colstoreimg(width='300', height='114', alt='', style='display:block; border:0', src='http://ntd42.tripolis.com/public/image_MTkyMjk4MTlcjmwjRKPT6w.jpg')
        //- table.devicewidth.divider(cellspacing='0', cellpadding='0', border='0', bgcolor='#ff0000', align='center', width='600')
        //-   tbody
        //-     tr
        //-       td(align='center', height='1', style='font-size:1px; line-height:1px;')