//
  Start of postfooter 
table.footer.devicewidth(width='600', align='center', cellpadding='0', cellspacing='0', border='0', style='border-collapse: collapse; background-color: #FAFAFA;')
  tbody
    tr
      //-- background-color: ${header_color} gebruiken in de template. Grunt build niet. 
      td(style='padding: 0px 10px; background-color: #FAFAFA;', color='#FFFFFF', valign='top', align='center')
        table(width='100%', style='border-collapse: collapse; width: 100%;')
          tr
            td.font1(align='left', valign='top', style='color:#303030; padding:10px 0px; font: 12px/1.4 \'Roboto Slab\', serif;')
              | U ontvangt deze nieuwsbrief op xxx als relatie van Kaja en Van Gestel. Wenst u deze informatie niet meer te ontvangen kunt u zich 
              a(href="<#noparse>https://www.contentpagina.nl/han/kajavangestel/afmelden.jsp?xid=${contact.encryptedContactId}</#noparse>", target="_blank", title="afmelden", style="text-decoration:none; color: #d41b29;")
                |  hier afmelden           
//
  End of footer 