//
   Start col 2 
table.devicewidth(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', align='center')
   
    tr
      td(width='600')
        table.devicewidth(width='100%', cellpadding='0', cellspacing='0', border='0', align='center')
           
            tr
              td
                table.col2(width='294', align='left', border='0', cellpadding='0', cellspacing='0')
                   
                    tr
                      td.col2inner(width='274', style='padding: 10px;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                           
                            tr
                              td
                                table.col2header(height='60', align='left', border='0', cellpadding='0', cellspacing='0')
                                   
                                    tr
                                      td.col2title(valign='top', st-title='2col-title2')
                                        p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;') Boerderij Hertenbiefstuk
                                    tr
                                      td.col2subtitle(style='text-align: left;', valign='top', st-title='2col-subtitle2')
                                        p.subtitle.font1(style='font: 16px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') Ruimte voor een subomschrijving van maximaal twee regels
                            tr
                              td.col2(width='100%', align='center')
                                table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                   
                                    tr
                                      td.col2(width='100%', align='center')
                                        table.col2halfleft(cellpadding='0', cellspacing='0', border='0')
                                           
                                            tr
                                              td
                                                img.colimg2(src='img/blok-1-image-260x260.jpg', alt='', border='0', width='260', height='260', style='display: block; border: none; outline: none; text-decoration: none;')
                                            tr.mobilehide
                                              td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                            tr.mobileshow
                                              td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                                        table.col2halfright(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                           
                                            tr.mobileshow(style='display: none;')
                                              td.mobilesubtitle(style='text-align: left;', valign='top', st-title='2col-subtitle1')
                                                p.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') Ruimte voor een subomschrijving van maximaal twee regels
                                            tr
                                              td.priceinfo(align='left', st-title='2col-priceinfo1')
                                                p.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                                  | per kilo
                                                  br
                                                  | van 11.00
                                              td.priceaction(align='right', st-title='2col-priceaction1')
                                                p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;') 217.50
                table.col2(width='300', align='right', border='0', cellpadding='0', cellspacing='0')
                   
                    tr
                      td.col2inner(width='279', style='padding: 10px; border-left: 1px solid #ccc;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                           
                            tr
                              td
                                table.col2header(height='60', align='left', border='0', cellpadding='0', cellspacing='0')
                                   
                                    tr
                                      td.col2title(valign='top', st-title='3col-title1')
                                        p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;') Boerderij Hertenbiefstuk
                                    tr
                                      td.col2subtitle(style='text-align: left;', valign='top', st-title='3col-subtitle1')
                                        p.subtitle.font1(style='font: 16px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') Ruimte voor een subomschrijving van maximaal twee regels
                            tr
                              td.col2(width='100%', align='center')
                                table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                   
                                    tr
                                      td.col2(width='100%', align='center')
                                        table.col2halfleft(cellpadding='0', cellspacing='0', border='0')
                                           
                                            tr
                                              td
                                                img.colimg2(src='img/blok-1-image-260x260.jpg', alt='', border='0', width='260', height='260', style='display: block; border: none; outline: none; text-decoration: none;')
                                            tr.mobilehide
                                              td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                            tr.mobileshow
                                              td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                                        table.col2halfright(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                           
                                            tr.mobileshow(style='display: none;')
                                              td.mobilesubtitle(style='text-align: left;', valign='top', st-title='2col-subtitle2')
                                                p.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') Ruimte voor een subomschrijving van maximaal twee regels
                                            tr
                                              td.priceinfo(align='left', st-title='2col-priceinfo2')
                                                p.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                                  | normale zb-
                                                  br
                                                  | prijs 11.00
                                              td.priceaction(align='right', st-title='2col-priceaction2')
                                                p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;') 30% korting
        table.divider.mobilehide(width='100%', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
           
            tr
              td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
//
   end col 2 

//- //
//-    Start col 2 
//- table.action_block_2.devicewidth(width="600", cellpadding='0', cellspacing='0', border='0', align='center')
//-   tr
//-     td
//-       table.row(width='100%', cellpadding='0', cellspacing='0', border='0', align='center')
//-         tr
//-           td
//-             table.left.col2(width="296", align='left', border='0', cellpadding='0', cellspacing='0')
//-               tr
//-                 td.inner(width='275')
//-                   table.row(width="100%", align='left', border='0', cellpadding='0', cellspacing='0')
//-                     tr
//-                       td
//-                         table.action_header(height='60', align='left', border='0', cellpadding='0', cellspacing='0')
//-                           tr
//-                             td.title
//-                               p.font1 Boerderij Hertenbiefstuk
//-                           tr
//-                             td.subtitle
//-                               p.font1 Ruimte voor een subomschrijving van maximaal twee regels
//-                     tr
//-                       td
//-                         table.row(align="center", cellpadding='0', cellspacing='0', border='0')
//-                           tr
//-                             td
//-                               table.half_left(align="center", cellpadding='0', cellspacing='0', border='0')
//-                                 tr
//-                                   td
//-                                     img.col2img(src='img/blok-1-image-260x260.jpg', alt='', border="0", width="260", height="260" )
//-                                 tr.mobilehide
//-                                   td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
//-                                 tr.mobileshow
//-                                   td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
//-                               table.half_right(align='left', border='0', cellpadding='0', cellspacing='0')
//-                                   tr.mobileshow
//-                                     td.mobile_subtitle
//-                                       p.font1 Ruimte voor een subomschrijving van maximaal twee regels
//-                                   tr
//-                                     td.priceinfo
//-                                       p.font1
//-                                         | per kilo
//-                                         br
//-                                         | van 11.00
//-                                     td.priceaction
//-                                       p.font1 217.50
//-             table.left.col2(width="300", align='right', border='0', cellpadding='0', cellspacing='0')
//-               tr
//-                 td.inner.border_left(width="279")
//-                   table.row(width="100%" align='left', border='0', cellpadding='0', cellspacing='0')
//-                     tr
//-                       td
//-                         table.action_header(height='60', align='left', border='0', cellpadding='0', cellspacing='0')
//-                           tr
//-                             td.title
//-                               p.font1 Boerderij Hertenbiefstuk
//-                           tr
//-                             td.subtitle
//-                               p.font1 Ruimte voor een subomschrijving van maximaal twee regels
//-                     tr
//-                       td
//-                         table.row(align="center", cellpadding='0', cellspacing='0', border='0')
//-                           tr
//-                             td
//-                               table.half_left(align="center", cellpadding='0', cellspacing='0', border='0')
//-                                 tr
//-                                   td
//-                                     img.col2img(src='img/blok-1-image-260x260.jpg', alt='', border="0", width="260", height="260")
//-                                 tr.mobilehide
//-                                   td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
//-                                 tr.mobileshow
//-                                   td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
//-                               table.half_right(align='left', border='0', cellpadding='0', cellspacing='0')
//-                                   tr.mobileshow
//-                                     td.mobile_subtitle
//-                                       p.font1 Ruimte voor een subomschrijving van maximaal twee regels
//-                                   tr
//-                                     td.priceinfo
//-                                       p.font1
//-                                         | normale zb-
//-                                         br
//-                                         | prijs 100,00
//-                                     td.priceaction
//-                                       p.font1 30% korting                   
//-       table.divider.mobilehide(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
//-         tr
//-           td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
//- // 
//-     end col 2 