//
   start col 1- 2
table.devicewidth(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', align='center')
  tr
    td(width='100%')
      table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tr
                td(width='579', style='padding:10px;')
                  table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td
                        table.col1header(height='20', align='left', border='0', cellpadding='0', cellspacing='0')
                          tr
                            td.col1title(valign='top')
                              p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;')
                                |<%= data.actiemail.tripolis[0].titel_blok1 %>
                    tr
                      td.devicewidth(width='100%', align='center')
                        table(width='100%', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td(width='50%', align='center')
                              table(width='100%', align='left', cellpadding='0', cellspacing='0', border='0')
                                tr
                                  td
                                    //<#if url_blok1?has_content>
                                    a(href!="<%= data.actiemail.tripolis[0].url_blok1 %>", target="_blank", title!="<%= data.actiemail.tripolis[0].titel_blok1 %>", style="display:block; border:none; outline:none; text-decoration:none;")
                                      //</#if>
                                      img.colimg1(src!="<%= data.actiemail.tripolis[0].image_blok1.url %>", alt!='<%= data.actiemail.tripolis[0].titel_blok1 %>', border='0', width='260', height='260', style='display: block; border: none; outline: none; text-decoration: none;')
                                      //<#if url_blok1?has_content>
                                    //</#if>
                                tr.mobileshow
                                  td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                            td.devicewidth(width='50%', align='center', valign='top')
                              table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                tr
                                  //<#if productinformatie_blok1?has_content>
                                  td.col1subtitle(colspan='2', height='190', style='text-align: left; padding: 10px 0 0;', valign='top')
                                    p.font1(style='font: 16px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                      |<%= data.actiemail.tripolis[0].productinformatie_blok1 %>
                                  //<#else>
                                  td.col1subtitle(colspan='2', height='190', style='text-align: left; padding: 10px 0 0;', valign='top')
                                    p.font1(style='font: 16px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') &nbsp;
                                  //</#if>
                                tr
                                  //<#if vanprijs_blok1?has_content>
                                  td.priceinfo(align='right', width='90')
                                    p.font1(style='width: 90px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                      |<%= data.actiemail.tripolis[0].eenheid_blok1 %>
                                      br 
                                      |<%= data.actiemail.tripolis[0].vanprijs_blok1 %>
                                  //<#else>
                                  td.priceinfo(align='right', width='90')
                                    p.font1(style='width: 90px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                      |<%= data.actiemail.tripolis[0].eenheid_blok1 %>
                                      br 
                                      | voor
                                  //</#if>
                                tr
                                  td.priceaction(align='right')
                                    p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;') <%= data.actiemail.tripolis[0].voorprijs_blok1 %>
      table.divider(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
        tr
          td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
//
   end col 1





