//
   start col 3 
table.devicewidth(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', align='center')
  tbody
    tr
      td(width='100%')
        table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
          tbody
            tr
              td
                table.col3(width='198', align='left', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.col3inner(width='177', style='padding: 10px;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              td
                                table.col3header(height='95', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.col3title(valign='top', height='35', st-title='3col-title1')
                                        p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;') Boerderij Hertenbiefstuk
                                    tr
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle1')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') Ruimte voor een subomschrijving
                            tr
                              td.col3(width='100%', align='center')
                                table(cellpadding='0', cellspacing='0', border='0')
                                  tbody
                                    tr
                                      td
                                        img.colimg3(src='img/blok-1-image-159x159-1.jpg', alt='', border='0', width='159', height='159', style='display: block; border: none; outline: none; text-decoration: none;')
                                    tr.mobilehide
                                      td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                    tr.mobileshow
                                      td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                            tr
                              td.col3(width='100%', align='center')
                                table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.priceinfo(align='left', valign='top', width='75', st-title='3col-priceinfo1')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          | per kilo
                                          br
                                      td.priceaction(align='right', st-title='3col-priceaction1')
                                        p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;') 2+1
                table.col3(width='198', align='left', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.col3inner(width='177', style='padding: 10px; border-left: 1px solid #ccc;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              td
                                table.col3header(height='95', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.col3title(valign='top', height='35', st-title='3col-title2')
                                        p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;') Boerderij Hertenbiefstuk
                                    tr
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle2')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') Doos 6 flessen
                            tr
                              td.col3(width='100%', align='center')
                                table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                  tbody
                                    tr
                                      td
                                        img.colimg3(src='img/blok-1-image-159x159-1.jpg', alt='', border='0', width='159', height='159', style='display: block; border: none; outline: none; text-decoration: none;')
                                    tr.mobilehide
                                      td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                    tr.mobileshow
                                      td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                            tr
                              td.col3(width='100%', align='center')
                                table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.priceinfo(align='left', width='75', st-title='3col-priceinfo2')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          | normale zb-
                                          br
                                          | prijs 11.00
                                      td.priceaction(align='right', st-title='3col-priceaction2')
                                        p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;') -30%
                table.col3.tablethide(width='196', align='right', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.col3inner(width='175', style='padding: 10px; border-left: 1px solid #ccc;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              td
                                table.col3header(height='95', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.col3title(valign='top', height='35', st-title='3col-title3')
                                        p.title.font2(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;') Boerderij Hertenbiefstuk
                                    tr
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle3')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') Ruimte voor een subomschrijving van maximaal twee regels
                            tr
                              td.col3(width='100%', align='center')
                                table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                  tbody
                                    tr
                                      td
                                        img.colimg3(src='img/blok-1-image-159x159-1.jpg', alt='', border='0', width='159', height='159', style='display: block; border: none; outline: none; text-decoration: none;')
                                    tr.mobilehide
                                      td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                    tr.mobileshow
                                      td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                            tr
                              td.col3(width='100%', align='center')
                                table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.priceinfo(align='left', width='75', st-title='3col-priceinfo3')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          | per kilo
                                          br
                                          | van 11.00
                                      td.priceaction(align='right', st-title='3col-priceaction3')
                                        p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;') 217.50
        table.divider(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
          tbody
            tr
              td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
//
   start col 3 


//- //
//-    start col 3 
//- table.action_block_3.devicewidth
//-   tr
//-     td
//-       table.row
//-         tr
//-           td
//-             table.left.col3
//-               tr
//-                 td.inner
//-                   table.row
//-                     tr
//-                       td
//-                         table.action_header
//-                           tr
//-                             td.title
//-                               p.font1 Boerderij Hertenbiefstuk
//-                           tr
//-                             td.subtitle
//-                               p.font1 Ruimte voor een subomschrijving
//-                     tr
//-                       td
//-                         table.row
//-                           tr
//-                             td
//-                               img.col3img(src='img/blok-1-image-159x159-1.jpg', alt='')
//-                           tr.mobilehide
//-                             td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
//-                           tr.mobileshow
//-                             td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
//-                     tr
//-                       td
//-                         table.row
//-                           tr
//-                             td.priceinfo
//-                               p.font1
//-                                 | per kilo
//-                                 br
//-                             td.priceaction
//-                               p.font1 2+1
//-             table.left.col3
//-               tr
//-                 td.inner.border_left
//-                   table.row
//-                     tr
//-                       td
//-                         table.action_header
//-                           tr
//-                             td.title
//-                               p.font1 Boerderij Hertenbiefstuk
//-                           tr
//-                             td.subtitle
//-                               p.font1 Doos 6 flessen
//-                     tr
//-                       td
//-                         table.row
//-                           tr
//-                             td
//-                               img.col3img(src='img/blok-1-image-159x159-1.jpg', alt='')
//-                           tr.mobilehide
//-                             td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
//-                           tr.mobileshow
//-                             td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
//-                     tr
//-                       td
//-                         table.row
//-                           tr
//-                             td.priceinfo
//-                               p.font1
//-                                 | normale zb-
//-                                 br
//-                                 | prijs 11.00
//-                             td.priceaction
//-                               p.font1 -30%
//-             table.left.col3.tablethide
//-                 tr
//-                   td.inner.border_left
//-                     table.row
//-                       tr
//-                         td
//-                           table.action_header
//-                             tr
//-                               td.title
//-                                 p.font1 Boerderij Hertenbiefstuk
//-                             tr
//-                               td.subtitle
//-                                 p.font1 Ruimte voor een subomschrijving van maximaal twee regels
//-                       tr
//-                         td
//-                           table.row
//-                             tr
//-                               td
//-                                 img.col3img(src='img/blok-1-image-159x159-1.jpg', alt='')
//-                             tr.mobilehide
//-                               td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
//-                             tr.mobileshow
//-                               td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
//-                       tr
//-                         td
//-                           table.row
//-                             tr
//-                               td.priceinfo(align='left', width='75', st-title='3col-priceinfo3')
//-                                 p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
//-                                   | per kilo
//-                                   br
//-                                   | van 11.00
//-                               td.priceaction(align='right', st-title='3col-priceaction3')
//-                                 p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;') 217.50
//-         table.divider(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
//-           tr
//-             td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  

//- //
//-   end col 3 

