//
   start col 3 
table.devicewidth(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', align='center')
  tbody
    tr
      td(width='100%')
        table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
          tbody
            tr
              td(align="center")
                table.col3(width='196', align='left', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.col3inner(width='175', style='padding: 10px;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              td
                                table.col3header(height='95', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.col3title(valign='top', height='35', st-title='3col-title1')
                                        p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;')
                                          |<%= data.actiemail.tripolis[0].titel_blok1 %>
                                    tr
                                      //<#if productinformatie_blok1?has_content>
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle1')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].productinformatie_blok1 %>
                                      //<#else>
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle1')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')&nbsp;
                                      //</#if>
                            tr
                              td.col3(width='100%', align='center')
                                table(cellpadding='0', cellspacing='0', border='0')
                                  tbody
                                    tr
                                      td
                                        //<#if url_blok1?has_content>
                                        a(href!="<%= data.actiemail.tripolis[0].url_blok1 %>", target="_blank", title!="<%= data.actiemail.tripolis[0].titel_blok1 %>", style="display:block; border:none; outline:none; text-decoration:none;")
                                          //</#if>
                                          img.colimg3(src!="<%= data.actiemail.tripolis[0].image_blok1.url %>", alt!="<%= data.actiemail.tripolis[0].titel_blok1 %>", border='0', width='159', height='159', style='display: block; border: none; outline: none; text-decoration: none;')
                                          //<#if url_blok1?has_content>
                                        //</#if>
                                    tr.mobilehide
                                      td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                    tr.mobileshow
                                      td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                            tr
                              td.col3(width='100%', align='center')
                                table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      //<#if vanprijs_blok1?has_content>
                                      td.priceinfo(align='left', valign='top', width='75', st-title='3col-priceinfo1')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].eenheid_blok1 %>
                                          br 
                                          |<%= data.actiemail.tripolis[0].vanprijs_blok1 %>
                                      //<#else>
                                      td.priceinfo(align='left', valign='top', width='75', st-title='3col-priceinfo1')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].eenheid_blok1 %>
                                          br 
                                          | voor
                                      //</#if>
                                      td.priceaction(align='right', st-title='3col-priceaction1')
                                        p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].voorprijs_blok1 %>
                table.col3(width='196', align='left', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.col3inner(width='175', style='padding: 10px; border-left: 1px solid #ccc;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              td
                                table.col3header(height='95', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.col3title(valign='top', height='35', st-title='3col-title1')
                                        p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;')
                                          |<%= data.actiemail.tripolis[0].titel_blok2 %>
                                    tr
                                      //<#if productinformatie_blok1?has_content>
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle1')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].productinformatie_blok2 %>
                                      //<#else>
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle1')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')&nbsp;
                                      //</#if>
                            tr
                              td.col3(width='100%', align='center')
                                table(cellpadding='0', cellspacing='0', border='0')
                                  tbody
                                    tr
                                      td
                                        //<#if url_blok1?has_content>
                                        a(href!="<%= data.actiemail.tripolis[0].url_blok2 %>", target="_blank", title!="<%= data.actiemail.tripolis[0].titel_blok2 %>", style="display:block; border:none; outline:none; text-decoration:none;")
                                          //</#if>
                                          img.colimg3(src!="<%= data.actiemail.tripolis[0].image_blok2.url %>", alt!="<%= data.actiemail.tripolis[0].titel_blok2 %>", border='0', width='159', height='159', style='display: block; border: none; outline: none; text-decoration: none;')
                                          //<#if url_blok1?has_content>
                                        //</#if>
                                    tr.mobilehide
                                      td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                    tr.mobileshow
                                      td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                            tr
                              td.col3(width='100%', align='center')
                                table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      //<#if vanprijs_blok1?has_content>
                                      td.priceinfo(align='left', valign='top', width='75', st-title='3col-priceinfo1')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].eenheid_blok2 %>
                                          br 
                                          |<%= data.actiemail.tripolis[0].vanprijs_blok2 %>
                                      //<#else>
                                      td.priceinfo(align='left', valign='top', width='75', st-title='3col-priceinfo1')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].eenheid_blok2 %>
                                          br 
                                          | voor
                                      //</#if>
                                      td.priceaction(align='right', st-title='3col-priceaction1')
                                        p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].voorprijs_blok2 %>
                table.col3.tablethide(align='right', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.col3inner(width='170', style='padding: 10px; border-left: 1px solid #ccc;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              td
                                table.col3header(height='95', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.col3title(valign='top', height='35', st-title='3col-title1')
                                        p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;')
                                          |<%= data.actiemail.tripolis[0].titel_blok3 %>
                                    tr
                                      //<#if productinformatie_blok1?has_content>
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle1')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].productinformatie_blok3 %>
                                      //<#else>
                                      td.col3subtitle(height='60', style='text-align: left;', valign='top', st-title='3col-subtitle1')
                                        p.subtitle.font1(style='font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')&nbsp;
                                      //</#if>
                            tr
                              td.col3(width='100%', align='center')
                                table(cellpadding='0', cellspacing='0', border='0')
                                  tbody
                                    tr
                                      td
                                        //<#if url_blok1?has_content>
                                        a(href!="<%= data.actiemail.tripolis[0].url_blok3 %>", target="_blank", title!="<%= data.actiemail.tripolis[0].titel_blok3 %>", style="display:block; border:none; outline:none; text-decoration:none;")
                                          //</#if>
                                          img.colimg3(src!="<%= data.actiemail.tripolis[0].image_blok3.url %>", alt!="<%= data.actiemail.tripolis[0].titel_blok3 %>", border='0', width='159', height='159', style='display: block; border: none; outline: none; text-decoration: none;')
                                          //<#if url_blok1?has_content>
                                        //</#if>
                                    tr.mobilehide
                                      td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                    tr.mobileshow
                                      td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                            tr
                              td.col3(width='100%', align='center')
                                table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      //<#if vanprijs_blok1?has_content>
                                      td.priceinfo(align='left', valign='top', width='75', st-title='3col-priceinfo1')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].eenheid_blok3 %>
                                          br 
                                          |<%= data.actiemail.tripolis[0].vanprijs_blok3 %>
                                      //<#else>
                                      td.priceinfo(align='left', valign='top', width='75', st-title='3col-priceinfo1')
                                        p.font1(style='width: 75px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].eenheid_blok3 %>
                                          br 
                                          | voor
                                      //</#if>
                                      td.priceaction(align='right', st-title='3col-priceaction1')
                                        p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;')
                                          |<%= data.actiemail.tripolis[0].voorprijs_blok3 %>
        table.divider(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
          tbody
            tr
              td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
//
   start col 3 


