//- //
//-    start col 1-2

//
   start col 1 
table.devicewidth(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0', align='center')
  tbody
    tr
      td.devicewidth(width='100%')
        table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
          tbody
            tr
              td.devicewidth
                table.devicewidth(width='600', align='left', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td.col1inner(width='579', style='padding: 10px;')
                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                          tbody
                            tr
                              td
                                table.col1header(height='20', align='left', border='0', cellpadding='0', cellspacing='0')
                                  tbody
                                    tr
                                      td.col1title(valign='top')
                                        p.title.font1(style='font: 17px/1.1 \'Lato\', Helvetica, Arial, sans-serif; font-weight: 700; text-align: left;') Boerderij Hertenbiefstuk
                                    tbody
                            tr
                              td.devicewidth(width='100%', align='center')
                                table.devicewidth(width='100%', cellpadding='0', cellspacing='0', border='0')
                                  tbody
                                    tr
                                      td(width='50%', align='center')
                                        table(width='100%', align='left', cellpadding='0', cellspacing='0', border='0')
                                          tbody
                                            tr
                                              td
                                                img.colimg1(src='img/blok-1-image-260x260.jpg', alt='', border='0', width='260', height='260', style='display: block; border: none; outline: none; text-decoration: none;')
                                            tr.mobileshow
                                              td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                                      td.devicewidth(width='50%', align='center', valign='top')
                                        table(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                                          tbody
                                            tr
                                              td.col1subtitle(colspan='2', height='190', style='text-align: left; padding: 10px 0 0;', valign='top')
                                                p.font1(style='font: 16px/1.1 \'Lato\', Helvetica, Arial, sans-serif;') Ruimte voor een subomschrijving van maximaal twee regels
                                            tr
                                              td.priceinfo(align='right', width='90')
                                                p.font1(style='width: 90px; font: 14px/1.1 \'Lato\', Helvetica, Arial, sans-serif;')
                                                  | per kilo
                                                  br
                                                  | van 11.00
                                            tr
                                              td.priceaction(align='right')
                                                p.font1(style='font: 32px/1 \'Lato\', Helvetica, Arial, sans-serif;') 217.50
        table.divider(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
          tbody
            tr
              td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
//
   end col 1

