<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANOS Voordeelmail</title>
    <!--for testing only-->
    <link rel="stylesheet" href="../css/actiemail.css"><!-- build:style inline actiemail --><!-- /build -->
  </head>
  <body style="background:#FAFAFA">
    <table style="background:#FAFAFA" class="body">
      <tr>
        <td style="padding: 0;" valign="top" align="center">
          <!--Start preheader 
          -->
          <table class="preheader devicewidth">
            <tr>
              <td align="center" valign="middle" class="font2">
                <!--<#if snippet?has_content>
                -->${snippet!}
                <!--</#if>
                -->
                <!--<#noparse><#if !onlineViewer>
                -->| Kunt u deze mail niet lezen? Klik dan <a href="http://td42.tripolis.com/public/preview?contactId=${contact.contactId}&amp;jobId=${contact.jobId}" target="_blank" class="online">hier</a>.
                <!--</#if></#noparse>
                -->
              </td>
            </tr>
          </table>
          <!--End preheader 
          -->
          <!--Start header 
          -->
          <table class="header devicewidth">
            <td align="center" class="wrapper">
              <table class="row">
                <tr>
                  <td align="left" class="block_logo"><a target="_blank" href="${logo_url}" title="${logo_image_alt!}"><img src="${logo_image.url!}" alt="${logo_image_alt!}" border="0" width="${logo_image.width}" height="${logo_image.height}"></a></td>
                  <td align="right" valign="middle" class="block_right font2 right-text-pad">${editie_datum!} 
                    <!--Looptijd: 12 t/m 13 oktober 2014 
                    -->
                  </td>
                </tr>
              </table>
            </td>
          </table>
          <!--End header 
          -->
          <!--Start main-banner 
          -->
          <table cellpadding="0" cellspacing="0" border="0" align="center" class="hero devicewidth">
            <tr>
              <td>
                <table align="center" cellspacing="0" cellpadding="0" border="0" class="row">
                  <tr>
                    <td><a target="_blank" href="#"><img alt="" src="img/hero.png" class="banner"></a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--End of main-banner 
          -->
          <!--Start col 2 
          -->
          <table class="action_block_2 devicewidth">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td>
                      <table class="left col2">
                        <tr>
                          <td class="inner">
                            <table class="row">
                              <tr>
                                <td>
                                  <table class="action_header">
                                    <tr>
                                      <td class="title">
                                        <p class="font1">Boerderij Hertenbiefstuk</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="subtitle">
                                        <p class="font1">Ruimte voor een subomschrijving van maximaal twee regels</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td>
                                        <table class="half_left">
                                          <tr>
                                            <td><img src="img/blok-1-image-260x260.jpg" alt="" class="col2img"></td>
                                          </tr>
                                          <tr class="mobilehide">
                                            <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"> </td>
                                          </tr>
                                          <tr class="mobileshow">
                                            <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;" class="mobileshow"> </td>
                                          </tr>
                                        </table>
                                        <table class="half_right">
                                          <tr class="mobileshow">
                                            <td class="mobile_subtitle">
                                              <p class="font1">Ruimte voor een subomschrijving van maximaal twee regels</p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td class="priceinfo">
                                              <p class="font1">per kilo<br>van 11.00</p>
                                            </td>
                                            <td class="priceaction">
                                              <p class="font1">217.50</p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table class="left col2">
                        <tr>
                          <td class="inner border_left">
                            <table class="row">
                              <tr>
                                <td>
                                  <table class="action_header">
                                    <tr>
                                      <td class="title">
                                        <p class="font1">Boerderij Hertenbiefstuk</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="subtitle">
                                        <p class="font1">Ruimte voor een subomschrijving van maximaal twee regels</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td>
                                        <table class="half_left">
                                          <tr>
                                            <td><img src="img/blok-1-image-260x260.jpg" alt="" class="col2img"></td>
                                          </tr>
                                          <tr class="mobilehide">
                                            <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"> </td>
                                          </tr>
                                          <tr class="mobileshow">
                                            <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;" class="mobileshow"> </td>
                                          </tr>
                                        </table>
                                        <table class="half_right">
                                          <tr class="mobileshow">
                                            <td class="mobile_subtitle">
                                              <p class="font1">Ruimte voor een subomschrijving van maximaal twee regels</p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td class="priceinfo">
                                              <p class="font1">normale zb-<br>prijs 100,00</p>
                                            </td>
                                            <td class="priceaction">
                                              <p class="font1">30% korting                   </p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table width="600" bgcolor="#cccccc" align="center" cellspacing="0" cellpadding="0" border="0" class="divider mobilehide">
                        <tr>
                          <td align="center" height="1" style="font-size: 1px; line-height: 1px;"> </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- end col 2 
          -->
          <!--start col 3 
          -->
          <table class="action_block_3 devicewidth">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td>
                      <table class="left col3">
                        <tr>
                          <td class="inner">
                            <table class="row">
                              <tr>
                                <td>
                                  <table class="action_header">
                                    <tr>
                                      <td class="title">
                                        <p class="font1">Boerderij Hertenbiefstuk</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="subtitle">
                                        <p class="font1">Ruimte voor een subomschrijving</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td><img src="img/blok-1-image-159x159-1.jpg" alt="" class="col3img"></td>
                                    </tr>
                                    <tr class="mobilehide">
                                      <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"> </td>
                                    </tr>
                                    <tr class="mobileshow">
                                      <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;" class="mobileshow"> </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td class="priceinfo">
                                        <p class="font1">per kilo<br></p>
                                      </td>
                                      <td class="priceaction">
                                        <p class="font1">2+1</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table class="left col3">
                        <tr>
                          <td class="inner border_left">
                            <table class="row">
                              <tr>
                                <td>
                                  <table class="action_header">
                                    <tr>
                                      <td class="title">
                                        <p class="font1">Boerderij Hertenbiefstuk</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="subtitle">
                                        <p class="font1">Doos 6 flessen</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td><img src="img/blok-1-image-159x159-1.jpg" alt="" class="col3img"></td>
                                    </tr>
                                    <tr class="mobilehide">
                                      <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"> </td>
                                    </tr>
                                    <tr class="mobileshow">
                                      <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;" class="mobileshow"> </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td class="priceinfo">
                                        <p class="font1">normale zb-<br>prijs 11.00</p>
                                      </td>
                                      <td class="priceaction">
                                        <p class="font1">-30%</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table class="left col3 tablethide">
                        <tr>
                          <td class="inner border_left">
                            <table class="row">
                              <tr>
                                <td>
                                  <table class="action_header">
                                    <tr>
                                      <td class="title">
                                        <p class="font1">Boerderij Hertenbiefstuk</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="subtitle">
                                        <p class="font1">Ruimte voor een subomschrijving van maximaal twee regels</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td><img src="img/blok-1-image-159x159-1.jpg" alt="" class="col3img"></td>
                                    </tr>
                                    <tr class="mobilehide">
                                      <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"> </td>
                                    </tr>
                                    <tr class="mobileshow">
                                      <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;" class="mobileshow"> </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td align="left" width="75" st-title="3col-priceinfo3" class="priceinfo">
                                        <p style="width: 75px; font: 14px/1.1 'Lato', Helvetica, Arial, sans-serif;" class="font1">per kilo<br>van 11.00</p>
                                      </td>
                                      <td align="right" st-title="3col-priceaction3" class="priceaction">
                                        <p style="font: 32px/1 'Lato', Helvetica, Arial, sans-serif;" class="font1">217.50</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table width="600" bgcolor="#cccccc" align="center" cellspacing="0" cellpadding="0" border="0" class="divider">
                        <tr>
                          <td align="center" height="1" style="font-size: 1px; line-height: 1px;"> </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--end col 3 
          -->
          <!--
          start col 1-2
          
          -->
          <table class="action_block_1-2 devicewidth">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td>
                      <table class="left col1">
                        <tr>
                          <td class="inner">
                            <table class="row">
                              <tr>
                                <td>
                                  <table class="action_header">
                                    <tr>
                                      <td class="title">
                                        <p class="font1">Boerderij Hertenbiefstuk</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td>
                                        <table class="half_left">
                                          <tr>
                                            <td><img src="img/blok-1-image-260x260.jpg" alt="" class="col1img"></td>
                                          </tr>
                                          <tr class="mobileshow">
                                            <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;" class="mobileshow"> </td>
                                          </tr>
                                        </table>
                                        <!--td.devicewidth(width='50%', align='center', valign='top')-->
                                        <table class="half_right">
                                          <tr>
                                            <td class="subtitle">
                                              <p class="font1">Ruimte voor een subomschrijving van maximaal twee regels</p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td class="priceinfo">
                                              <p class="font1">per kilo<br>van 11.00</p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td class="priceaction">
                                              <p class="font1">217.50</p>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table width="600" bgcolor="#cccccc" align="center" cellspacing="0" cellpadding="0" border="0" class="divider">
                        <tr>
                          <td align="center" height="1" style="font-size: 1px; line-height: 1px;"> </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--end col 1-2
          -->
          <!--start col 1 
          -->
          <table class="action_block_1 devicewidth">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td>
                      <table class="left col1">
                        <tr>
                          <td class="inner">
                            <table class="row">
                              <tr>
                                <td>
                                  <table class="action_header">
                                    <tr>
                                      <td class="title">
                                        <p class="font1">Boerderij Hertenbiefstuk</p>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="subtitle">
                                        <p class="font1">Ruimte voor een subomschrijving van maximaal twee regels</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table class="row">
                                    <tr>
                                      <td><img src="img/blok-1-image-260x260.jpg" alt="" class="colfullimg"></td>
                                    </tr>
                                    <tr class="mobilehide">
                                      <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;"> </td>
                                    </tr>
                                    <tr class="mobileshow">
                                      <td width="100%" height="3" style="font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;" class="mobileshow"> </td>
                                    </tr>
                                  </table>
                                  <table class="row">
                                    <tr>
                                      <td class="priceinfo">
                                        <p class="font1">per kilo<br>van 11.00</p>
                                      </td>
                                      <td class="priceaction">
                                        <p class="font1">217.50</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table width="600" bgcolor="#cccccc" align="center" cellspacing="0" cellpadding="0" border="0" class="divider">
                        <tr>
                          <td align="center" height="1" style="font-size: 1px; line-height: 1px;"> </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--end col 1
          -->
          <!--start of stores 
          -->
          <table class="stores devicewidth">
            <tr>
              <td>
                <table class="row">
                  <tr>
                    <td>
                      <table class="colstoresleft">
                        <tr>
                          <td class="inner">
                            <table class="address">
                              <tr>
                                <td class="title">
                                  <p class="font1">HANOS Heerenveen</p>
                                </td>
                              </tr>
                              <tr>
                                <td class="subtitle">
                                  <p class="font1">Houtdraaier 2<br>8447 GG Amsterdam / Duivendrecht<br>Tel: +31 513 630303</p>
                                </td>
                              </tr>
                            </table>
                            <table class="cta">
                              <tr>
                                <td>
                                  <table class="small-button radius">
                                    <tr>
                                      <td><a href="#">Route &amp; openingstijden<img src="img/arrow.png" alt=""></a></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table class="colstoresright tablethide">
                        <tr>
                          <td class="inner">
                            <table>
                              <tr>
                                <td class="colstoreimg"><img src="http://ntd42.tripolis.com/public/image_MTkyMjg5MTlcjmwjRKPT6w.jpg" alt=""></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      <table width="600" bgcolor="#cccccc" align="center" cellspacing="0" cellpadding="0" border="0" class="divider">
                        <tr>
                          <td align="center" height="1" style="font-size: 1px; line-height: 1px;"> </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--end of stores 
          -->
          <!--Start of footer 
          -->
          <table class="footer devicewidth">
            <tr>
              <td>
                <table class="row inner">
                  <tr>
                    <td>
                      <table class="social">
                        <tr>
                          <td class="fb right-text-pad"><a href="#"><img src="img/fb-36x36.jpg" alt=""></a></td>
                          <td class="tw right-text-pad"><a href="#"><img src="img/tw-36x36.jpg" alt=""></a></td>
                          <td class="yt"><a href="#"><img src="img/yt-36x36.jpg" alt=""></a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table class="flinks">
                        <tr>
                          <td class="font2"><a href="http://ntd42.tripolis.com/public/r/j+vRCgU+ylCtv3B0IefLFg/hWim8WxqCMI1IZF+PdsKKA/TK1ET_mWKYTsfhGMZ8cs5w" target="_blank" title="website"><span>Hanos.nl</span></a>|<a href="http://ntd42.tripolis.com/public/r/fFZCtsz5atfirjLtmG7r7Q/hWim8WxqCMI1IZF+PdsKKA/TK1ET_mWKYTsfhGMZ8cs5w" target="_blank" title="contact"><span>Contact</span></a>|<a href="#" target="_blank" title="Gegevens wijzigen"><span>Afmelden</span></a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table class="subscription">
                        <tr>
                          <td class="font2">U ontvangt deze nieuwsbrief op <a href="#"><span></span>ronaldkonjer@gmail.com </a>omdat u klant bent van HANOS en ingeschreven staat voor onze <a href="#" target="_blank" title="Gegevens wijzigen">Vestigingsmail</a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table class="logo_country">
                        <tr>
                          <td><a target="_blank" href="${logo_url}" title="${logo_image_alt!}"><img src="${footer_logo_image.url!}" alt="${logo_image_alt!}" border="0" width="${footer_logo_image.width}" height="${footer_logo_image.height}"></a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--End of footer 
          -->
        </td>
      </tr>
    </table>
  </body>
</html>