<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANOS Outlookfooter</title>
    <!--for testing only-->
    <link rel="stylesheet" href="../css/outlookfooter.css"><!-- build:style inline outlookfooter --><!-- /build -->
  </head>
  <body>
    <table width="100%" class="body">
      <tr>
        <td style="padding: 0;" valign="top" align="left">
          <p class="mailsignature"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">Met vriendelijke groet,<br><br><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"> </span>[NaamBehandelaar]<br><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"> </span>[FunctieBehandelaar]<br><br><span style="font-size: 8pt; font-family: arial, helvetica, sans-serif;"></span>T [TelefoonBehandelaar]<br><br><span style="font-size: 8pt; font-family: arial, helvetica, sans-serif;"> </span>E [EmailBehandelaar]<br></span></p>
          <!--Start of footer 
          -->
          <table border="0" cellpadding="0" cellspacing="0" class="footer devicewidth">
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" class="row inner">
                  <tr>
                    <td valign="top">
                      <table border="0" cellpadding="0" cellspacing="0" class="info">
                        <tr>
                          <td colspan="6" class="topbar"><a href="http://www.werkenbijhanos.nl"><img src="https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/outlooklogo.png" alt="HANOS" border="0" width="140" height="36"></a></td>
                        </tr>
                        <tr>
                          <td>
                            <table border="0" cellpadding="0" cellspacing="0" height="90">   
                              <tr>
                                <td valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" class="middlebar purple">
                                    <tr>
                                      <td style="line-height:10px; font-size:1px;" height="10">&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td align="center"><span class="location">[NaamWerkgever] |</span><span class="address"> [AccountAdres] |</span><span class="zipcode"> [PostcodeAccout] [WoonplaatsAccount] |</span><span class="phone"> T: [TelefoonAccount] |</span><a href="#" style="color:#A39B9B!important;"><span style="color:#A39B9B!important;" class="email"> E: info@hanos.nl</span></a></td>
                                    </tr>
                                    <tr>
                                      <td style="line-height:22px; font-size:1px;" height="22">&nbsp;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td valign="top">
                                  <table border="0" cellpadding="0" cellspacing="0" valign="top" class="socialbar">
                                    <tr>
                                      <td rowspan="2" valign="top" width="45"><a href="https://twitter.com/WERKENBIJHANOS"><img src="https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/Twitter_img.png" alt="Twitter" border="0" width="45" height="34"></a></td>
                                      <td valign="top" height="13" class="purple">&nbsp;</td>
                                      <td valign="top" width="600" height="13" align="center" class="purple"><span align="center" class="link"><a href="http://www.werkenbijhanos.nl" height="13" style="font-weight:bold; color:#A39B9B!important; font-size:12px;">www.werkenbijhanos.nl</a></span></td>
                                      <td valign="top" height="13" class="purple">&nbsp;</td>
                                      <td rowspan="2" valign="top" align="right" width="42"><a href="https://www.facebook.com/hanosgroothandel"><img src="https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/Facebook_img.png" alt="Facebook" border="0" width="42" height="34"></a></td>
                                    </tr>
                                    <tr>
                                      <td colspan="3" class="white">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                          <td><span class="sociallink"><a href="https://twitter.com/WERKENBIJHANOS" style="color:#A39B9B!important;">twitter.com/werkenbijhanos </a></span></td>
                                          <td align="right"><span class="sociallink"><a href="https://www.facebook.com/hanosgroothandel" style="color:#A39B9B!important;">facebook.com/hanosgroothandel </a></span></td>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" height="90">
                              <tr>
                                <td valign="top" height="66"><img src="https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/endpurple.png" alt="Facebook" border="0" width="6" height="66"></td>
                              </tr>
                              <tr>
                                <td valign="top">&nbsp;</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" class="disclaimerbar">
                              <tr>
                                <td style="line-height:10px; font-size:1px;" height="5">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    De informatie in dit e-mailbericht is uitsluitend bestemd voor de geadresseerde. Verstrekking aan en gebruik door derden is niet toegestaan.
                                    Als het bericht niet voor u bestemd is, wordt u vriendelijk verzocht dit aan de afzender te melden en het bericht te wissen.
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td style="line-height:10px; font-size:1px;" height="5">&nbsp;</td>
                              </tr>
                              <tr>
                                <td>
                                  <p>
                                    This e-mail is intended exclusively for the addressee(s), and may not be passed on to, or made available for use by any person other than the 
                                    addressee(s). If you are not the intended recipient or have received this e-mail in error, please notify the sender immediately and destroy 
                                     this e-mail.
                                  </p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                    <td valign="top">
                      <table border="0" cellpadding="0" cellspacing="0" class="globe">
                        <tr>
                          <td><a href="http://www.werkenbijhanos.nl"><img src="https://ssl1.peoplexs.com/Portalxs/Mailcount/HAN2/Image/Beeldmerk-wb(1).png" alt="Er gaat een wereld voor u open" border="0" width="221" height="244"></a></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!--End of footer 
          -->
        </td>
      </tr>
    </table>
  </body>
</html>