doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title HANOS Outlookfooter
    //for testing only
    link(rel="stylesheet", href="../css/outlookfooter.css") 

    <!-- build:style inline outlookfooter --><!-- /build -->
  body()
    table.body(width="100%")
      tr
        td(style='padding: 0;', valign='top', align='left')
          include ../partials/outlookfooter/footer
