//
   Start col 2 
table.action_block_2.devicewidth
  tr
    td
      table.row
        tr
          td
            table.left.col2
              tr
                td.inner
                  table.row
                    tr
                      td
                        table.action_header
                          tr
                            td.title
                              p.font1 Boerderij Hertenbiefstuk
                          tr
                            td.subtitle
                              p.font1 Ruimte voor een subomschrijving van maximaal twee regels
                    tr
                      td
                        table.row
                          tr
                            td
                              table.half_left
                                tr
                                  td
                                    img.col2img(src='img/blok-1-image-260x260.jpg', alt='')
                                tr.mobilehide
                                  td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                tr.mobileshow
                                  td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                              table.half_right
                                  tr.mobileshow
                                    td.mobile_subtitle
                                      p.font1 Ruimte voor een subomschrijving van maximaal twee regels
                                  tr
                                    td.priceinfo
                                      p.font1
                                        | per kilo
                                        br
                                        | van 11.00
                                    td.priceaction
                                      p.font1 217.50
            table.left.col2
              tr
                td.inner.border_left
                  table.row
                    tr
                      td
                        table.action_header
                          tr
                            td.title
                              p.font1 Boerderij Hertenbiefstuk
                          tr
                            td.subtitle
                              p.font1 Ruimte voor een subomschrijving van maximaal twee regels
                    tr
                      td
                        table.row
                          tr
                            td
                              table.half_left
                                tr
                                  td
                                    img.col2img(src='img/blok-1-image-260x260.jpg', alt='')
                                tr.mobilehide
                                  td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                                tr.mobileshow
                                  td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                              table.half_right
                                  tr.mobileshow
                                    td.mobile_subtitle
                                      p.font1 Ruimte voor een subomschrijving van maximaal twee regels
                                  tr
                                    td.priceinfo
                                      p.font1
                                        | normale zb-
                                        br
                                        | prijs 100,00
                                    td.priceaction
                                      p.font1 30% korting                   
            table.divider.mobilehide(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
              tr
                td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
// 
    end col 2 