//
   start col 1 
table.action_block_1.devicewidth
  tr
    td
      table.row
        tr
          td
            table.left.col1
              tr
                td.inner
                  table.row
                    tr
                      td
                        table.action_header
                          tr
                            td.title
                              p.font1 Boerderij Hertenbiefstuk
                          tr
                            td.subtitle
                              p.font1 Ruimte voor een subomschrijving van maximaal twee regels
                    tr
                      td
                        table.row
                          tr
                            td
                              img.colfullimg(src='img/blok-1-image-260x260.jpg', alt='')
                          tr.mobilehide
                            td(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly;')  
                          tr.mobileshow
                            td.mobileshow(width='100%', height='3', style='font-size: 1px; line-height: 1px; mso-line-height-rule: exactly; display: none;')  
                        table.row
                          tr
                            td.priceinfo
                              p.font1
                                | per kilo
                                br
                                | van 11.00
                            td.priceaction
                              p.font1 217.50
            table.divider(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
              tr
                td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
//
   end col 1