//
   start of stores 
table.stores.devicewidth
  tr
    td
      table.row
        tr
          td
            table.colstoresleft
              tr
                td.inner
                  table.address
                    tr
                      td.title
                        p.font1 HANOS Heerenveen
                    tr
                      td.subtitle
                        p.font1
                          | Houtdraaier 2
                          br
                          | 8447 GG Amsterdam / Duivendrecht
                          br
                          | Tel: +31 513 630303
                  table.cta
                    tr
                      td
                        table.small-button.radius
                          tr
                              td
                                a(href='#') Route &amp; openingstijden
                                  img(src='img/arrow.png', alt='')
            table.colstoresright.tablethide
              tr
                td.inner
                  table
                      tr
                        td.colstoreimg 
                          img(src='http://ntd42.tripolis.com/public/image_MTkyMjg5MTlcjmwjRKPT6w.jpg', alt='')
            table.divider(width='600', bgcolor='#cccccc', align='center', cellspacing='0', cellpadding='0', border='0')
              tr
                td(align='center', height='1', style='font-size: 1px; line-height: 1px;')  
//
   end of stores 
